body {
    padding: 50px;
}

.form-block {
    width: 40%;
    margin-right: 20px;
    flex-shrink: 0;
}

.app {
    display: flex;
}

.cards-block {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 60%;
}

.card {
    width: 47%;
    margin-right: 10px;
    margin-bottom: 10px;
    min-height: 220px;
}

.badge {
    margin-bottom: 5px;
}

.card-text {
    min-height: 100px;
}

.crd .btn {
    margin-bottom: 5px;
}